.containerArt7{
  max-width: 960px;
  margin: 0 auto;
  background: #eaeded;
  font-size: 24px;
  Padding: 25px;
}
.parallaxArt7{
  background: url('img/ana.png') no-repeat center;
  background-size: contain;
  background-attachment: fixed;
  height: 500px;
}
